.bBotton {
  border-bottom: none;
}
.BTop {
  border-top: none !important;
}
.basicPage {
  position: relative;
}
.basicPage_header {
  .oneDiv {
    width: 100%;
    display: flex;
    height: 48px;
    border-left: 1px solid #e7eaeb;
    .title {
      width: 146px;
      background: #fafafa;
      box-sizing: border-box;
      padding-left: 16px;
      padding-top: 14px;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #666666;
      border-right: 1px solid #e7eaeb;
      border-top: 1px solid #e7eaeb;
      border-bottom: 1px solid #e7eaeb;
      // border-bottom: none;
      // border-right: none;
    }
    .content {
      border-top: none;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #222222;
      width: calc(100% - 146px);
      box-sizing: border-box;
      padding-top: 14px;
      padding-left: 15px;
      border: 1px solid #e7eaeb;
      border-left: none;
      // border-right: none;
    }
    .left {
      flex: 1;
      display: flex;
      .title {
      }
    }
    .center {
      flex: 1;
      display: flex;
    }
    .right {
      flex: 1;
      display: flex;
    }
  }
}
.titleName {
  display: flex;
  position: absolute;
  top: -38px;  right: 0;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #2b57ff;
  align-items: center;
  height: 28px;
  cursor: pointer;
  .titleName-li {
    display: inline-block;
    margin-left: 13px;
  }
  .elRight {
    padding-right: 5px;
  }

 
}


